.services {
    background-image: url('../images/Layer 6 copy.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-color: #FCFCFC;
    padding-top: 10rem;
    padding-bottom: 10rem;
    
    p {
        font-size: 15px;
    }
}
.services-pic {
    background-image: url('../images/Layer 6 copy.png');
    background-repeat: no-repeat;
    background-position: bottom left;
}