.tracking,.tracking-bg-bottom  {
    background-size: contain;
    background-repeat: no-repeat;
}
.tracking {
    background-position: top left;
    background-image: url('../images/draw.png');
}
.tracking-bg-bottom {
    background-position: right bottom;
    background-image: url('../images/draw2.png');
}